body {
  margin: 0;
}

.files-view {
  background-color: #f9f9f9;
  padding: 0 5px;
  box-shadow: 1px 1px 5px 0px #b7aeae;
  width: 99%;
}

.custom-table-controls {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.custom-table-controls__select {
  min-width: 200px;
  font-size: 18px;
}

.custom-table-controls__download {
  background-color: transparent;
  border: 0;
  transition: background-color .3s;
  cursor: pointer;
  font-size: 18px;
}

.custom-table-controls__download:hover {
  background-color: #ccc;
}

.custom-table-controls__download img {
  height: 16px;
  width: 16px;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table__header {
  text-align: left;
}

.custom-table__header .custom-table__cell {
  border-bottom: 1px solid #ccc;
  font-size: 18px;
  font-weight: 400;
  padding: 10px 0;
}

.custom-table__row {
  transition: background-color .3s;
  cursor: pointer;
}

.custom-table__row:hover {
  background-color: rgb(236, 236, 236);
}

.custom-table__row.custom-table__row--selected {
  background-color: rgb(206, 206, 206);
}

.custom-table__row .custom-table__cell {
  padding: 10px 0;
}

.custom-table__row:not(:last-child) .custom-table__cell {
  border-bottom: 1px solid #ccc;
}

.custom-table-status {
  position: relative;
}

.custom-table-status--available::before {
  content: "";
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: green;
  position: absolute;
  left: -5px;
  top: 50%;
  transform: translate(-100%, -50%);
}
